<!DOCTYPE html>
<head>
  <%= stylesheet_link_tag "supercache", media: "all" %>
  <%= javascript_include_tag "supercache" %>
</head>
<body>
  <br><br><br><br><br>
  <main>
    <div class="container">
      <%= yield %>
    </div>
  </main>
  <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.0.0/turbolinks.min.js'></script> -->
</body>
</html>